body, html { 
    overflow: hidden;
}
body {
    position: relative;
}
.main-content-font {
	font-size: 30px;
	color: white;
}

#environment {
	position: absolute;
	z-index: 1;

	height: 100%;
	width: 100%;
}

#environment #sky {
    width: 100%;
    height: 100%;
}

#environment #stars {
	width: 100%;
	height: 100%;
	background-image: url(../img/stars.png);
}

#environment #stars.day {

	-webkit-transition: opacity 5s; /* Safari */
    transition: opacity 5s;
	opacity: 0;
}

#environment #stars.night {

	-webkit-transition: opacity 20s; /* Safari */
    transition: opacity 20s;
	opacity: .8;
}

#environment #sky.day {
	animation-name: sky_day;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}
#environment #sky.night {
    animation-name: sky_night;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes sky_day {

	0% {
		background-color: #525252;
	}
	
	100% {
		background-color: #6293e5;
	}
}

@keyframes sky_night {

    0% {
        background-color: #6293e5;
    }

    100% {
        background-color: #525252;
    }
}

#environment #moon {
	position: absolute;
	top: 0;
	left: -100px;

	width: 100px;
	height: 100px;
	border-radius: 50px;

  border-radius: 50%;
  box-shadow: 25px 25px 0 0 #fff;
}

#environment #moon.day {
	animation-name: moon_day;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#environment #moon.night {
	animation-name: moon_night;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@keyframes moon_day {

	0% {
		opacity: 1;
		left: 50px;
	}

	50% {
		opacity: 0;
		left: -100px;
	}
	
	100% {
		opacity: 0;
		left: -100px;
	}

}

@keyframes moon_night {

	0% {
		opacity: 0;
		left: -100px;
	}

	50% {
		opacity: 0;
		left: -100px;
	}
	
	100% {
		opacity: 1;
		left: 50px;
	}

}

#environment #sun {
    height: 0;
    width: 20%;
    padding-bottom: 20%;
    border-radius: 300px;

    position: absolute;
    right: 2%;
}

#environment #sun.day {
	animation-name: sunrise;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#environment #sun.night {
    animation-name: sundown;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes sunrise {

	0% {
		top: 80%;
		background: #f00;
	}
	
	100% {
		top: 2%;
		background: #ffd630;
	}
}

@keyframes sundown {

    0% {
        top: 2%;
        background: #ffd630;
    }

    100% {
        top: 80%;
        background: #f00;
    }
}

#environment #ground #road {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 594px;
	background-image: url(/img/road.png);
}

#environment #ground {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0%;
	text-align: center;
}

#environment #ground.day {
	animation-name: ground_day;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#environment #ground.night {
    animation-name: ground_night;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes ground_day {

	0% {
		background: #6c5228;
	}

	100% {
		background: #48a037;
	}
}

@keyframes ground_night {

    0% {
        background: #48a037;
    }

    100% {
        background: #6c5228;
    }
}

#environment #cloud {
    position: absolute;
    top: 3%;
}

#environment #cloud.day {
    animation-name: cloud_in;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#environment #cloud.night {
	animation-name: cloud_out;
	animation-duration: 8s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#environment #cloud #cloud-1 {
	position: relative;
	top: 60px;
	left: -40px;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}
#environment #cloud #cloud-2 {
	position: relative;
	top: 0;
	left: 0;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}
#environment #cloud #cloud-3 {
	position: relative;
	top: -30px;
	left: 60px;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}

@keyframes cloud_in {

	0% {
		opacity: 0;
		left: 0;
	}
	
	50% {
		opacity: 0;
		left: 0;
	}

	100% {
		opacity: 1;
		left: 25%;
	}
}

@keyframes cloud_out {

    0% {
        opacity: 1;
        left: 25%;
    }

    50% {
        opacity: 0;
        left: 0;
    }

    100% {
        opacity: 0;
        left: 0;
    }
}

#world-container {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}

#world-container #singer-songwriter {
	height: 100%;
	width: 100%;
}

#world-container #singer-songwriter #hut {
	background-image: url(../img/hut.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 40%;
	width: 30%;
	position: absolute;
	bottom: 170px;
	right: 0%;
}

#world-container #singer-songwriter #campfire {
	background-image: url(../img/campfire.gif);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 30%;
	position: absolute;
	bottom: 155px;
	right: 12%;
}

#world-container #singer-songwriter h1.title {
	position: absolute;
	z-index: 1;
	bottom: 50px;
	left: 64%;
	color: #ffffff;
	font-family: 'Pacifico', cursive;
}

#world-container #coder {
	height: 100%;
	width: 100%;
}

#world-container #coder #skyscraper {
	background-image: url(../img/skyscraper.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 79%;
	width: 54%;
	position: absolute;
	bottom: 70px;
	left: -1%;
}
#world-container #coder h1.title{
	position: absolute;
	z-index: 1;
	bottom: 40px;
	left: 20%;
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
}

#avatar-container {
	position: absolute;
	z-index: 2;
	height: 100px;
	width: 100px;
}
#divider {
	border-left: 3px dashed #E2F132;
	height: 150%;
	width: 3px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: -25%;
	left: 57%;
	z-index: 1;
	transform: rotate(-158deg);
	display: none;
}