body, html { 
    overflow: hidden;
}
body {
    position: relative;
}
.main-content-font {
	font-size: 30px;
	color: white;
}

#sky {
    width: 100%;
    height: 100%;
}

#stars {
	width: 100%;
	height: 100%;
	background-image: url(../img/stars.png);
}

#stars.day {

	-webkit-transition: opacity 5s; /* Safari */
    transition: opacity 5s;
	opacity: 0;
}

#stars.night {

	-webkit-transition: opacity 20s; /* Safari */
    transition: opacity 20s;
	opacity: .8;
}

#sky.day {
	animation-name: sky_day;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}
#sky.night {
    animation-name: sky_night;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes sky_day {

	0% {
		background-color: #525252;
	}
	
	100% {
		background-color: #6293e5;
	}
}

@keyframes sky_night {

    0% {
        background-color: #6293e5;
    }

    100% {
        background-color: #525252;
    }
}

#moon {
	position: absolute;
	top: 0;
	left: -100px;

	width: 100px;
	height: 100px;
	border-radius: 50px;

  border-radius: 50%;
  box-shadow: 25px 25px 0 0 #fff;
}

#moon.day {
	animation-name: moon_day;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#moon.night {
	animation-name: moon_night;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@keyframes moon_day {

	0% {
		opacity: 1;
		left: 50px;
	}

	50% {
		opacity: 0;
		left: -100px;
	}
	
	100% {
		opacity: 0;
		left: -100px;
	}

}

@keyframes moon_night {

	0% {
		opacity: 0;
		left: -100px;
	}

	50% {
		opacity: 0;
		left: -100px;
	}
	
	100% {
		opacity: 1;
		left: 50px;
	}

}

#sun {
    height: 0;
    width: 20%;
    padding-bottom: 20%;
    border-radius: 300px;

    position: absolute;
    right: 2%;
}

#sun.day {
	animation-name: sunrise;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#sun.night {
    animation-name: sundown;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes sunrise {

	0% {
		top: 80%;
		background: #f00;
	}
	
	100% {
		top: 2%;
		background: #ffd630;
	}
}

@keyframes sundown {

    0% {
        top: 2%;
        background: #ffd630;
    }

    100% {
        top: 80%;
        background: #f00;
    }
}

#written-msg {
	margin-top: 20px;
}

#ground {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0%;
	text-align: center;
}

#ground.day {
	animation-name: ground_day;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#ground.night {
    animation-name: ground_night;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes ground_day {

	0% {
		background: #6c5228;
	}

	100% {
		background: #48a037;
	}
}

@keyframes ground_night {

    0% {
        background: #48a037;
    }

    100% {
        background: #6c5228;
    }
}

#cloud {
    position: absolute;
    top: 3%;
}

#cloud.day {
    animation-name: cloud_in;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#cloud.night {
	animation-name: cloud_out;
	animation-duration: 8s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

#cloud-1 {
	position: relative;
	top: 60px;
	left: -40px;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}
#cloud-2 {
	position: relative;
	top: 0;
	left: 0;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}
#cloud-3 {
	position: relative;
	top: -30px;
	left: 60px;

	border-radius: 90px / 30px;
        width: 160px;
        height: 50px;
        background: #fff;
}

@keyframes cloud_in {

	0% {
		opacity: 0;
		left: 0;
	}
	
	50% {
		opacity: 0;
		left: 0;
	}

	100% {
		opacity: 1;
		left: 25%;
	}
}

@keyframes cloud_out {

    0% {
        opacity: 1;
        left: 25%;
    }

    50% {
        opacity: 0;
        left: 0;
    }

    100% {
        opacity: 0;
        left: 0;
    }
}

#hut {
	background-image: url(../img/hut.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 30%;
	width: 100%;

	position: absolute;
	bottom: 25%;
	left: 5%;
}
#avatar-container {
	position: absolute;
	bottom: 23%;
	left: 50%;
	
	height: 100px;
}
